* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
